﻿*{
    box-sizing: border-box;
}

#toggleDark {
    padding-left: 1.4rem;
    cursor: pointer;
}

body#body.dark {
    color: #d87402;
    background-color: #101526;
    transition: 0.3s;
}

div.jumbotron.dark {
    background-color: #151d38;
    transition: 0.3s;
}

body#body {
    transition: 0.3s;
}

div.jumbotron {
    background-color: #eee;
    transition: 0.3s;
}

span#toggleDark{
    margin: 1.3rem;
    border: 1px solid;
    padding: 1rem;
    border-radius: 5%;
}


span#toggleDark:active{
    color: orangered;
}
span#toggleDark:hover {
    color: Highlight;
}

.row{
    margin-top: 10px;
}

pre {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: #202226;
    border: 1px solid #777;
    color: mediumvioletred;
}

